/* -------------------------------------Disable------------------------------------- */
.disable {
  display: none;
  visibility: none;
}

/* -------------------------------------Menu------------------------------------- */
.menu {
  display: none;
}

/* ----------------------------------Custom CSS Property---------------------------------- */
:root {
  --primary-color: rgba(230, 83, 60, 1);
  --primary-font: "Inter", sans-serif;
  --secondary-color: rgba(255, 255, 255, 0.5);
  --font-miama: "Miama", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

/* ----------------------------------Body---------------------------------- */
body {
  margin: 0 auto;
}

.underline {
  list-style: none;
}

.texDecoration {
  text-decoration: none;
}

.navbar {
  /* border: 1px solid black; */
  padding: 0 150px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
  margin-bottom: 2rem;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
}
.habit {
  max-width: 1440px;
  background: #111111;
}

/* ----------------------------------Head---------------------------------- */
.head {
  /* border: 1px solid red; */
  background: linear-gradient(360deg, #111111 0%, #282828 100%);
}

.nav-title {
  font-size: 2.2rem;
  font-weight: 800;
  font-style: italic;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.nav-btn {
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  border-radius: 25px;
  height: 45px;
  width: 475px;
}

.nav-btn a {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 45px;
  font-family: var(--primary-font);
  transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.nav-btn a.active {
  background-color: var(--primary-color);
}
.nav-btn a:hover:not(.active) {
  background-color: var(--primary-color);
}

/* ----------------------------------Banner Section---------------------------------- */
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* ------------------ Banner Right */

.banner-right {
  /* border: 1px solid tomato; */
  background-image: url(../assets/Images_2.png);
  height: 540px;
  width: 340px;
}
.banner-left {
  /* border: 1px solid tomato; */
  max-width: 580px;
  height: 420px;
}
#glass2,
#glass1 {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 12rem;
  height: 6rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
#gol-txt {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#glass1 {
  position: relative;
  top: 120px;
  left: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* #glass2{
  position: fixed;
  padding: 0 8px;
  bottom: 280px;
  right: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
} */
#glass1 h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-family: var(--primary-font);
}
#glass1 p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--primary-font);
  text-align: center;
  white-space: none;
  padding-right: 5px;
}

#glass2 {
  position: relative;
  top: 300px;
  left: -100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#glass2 #gol {
  /* border: 1px solid tomato; */
  background: var(--primary-color);
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
#glass2 #gol-txt h2 {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: #fff;
  font-weight: 900;
}
#glass2 #gol-txt p {
  font-family: var(--primary-font);
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

/* ------------------ Banner Right */
/* .banner-left{
  border: 1px solid black;
  max-width: 36rem;
  height: 26rem;
} */
.banner-title {
  font-family: var(--primary-font);
  font-size: 4rem;
  color: #fff;
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 20px;
}
.banner-left .banner-des {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--primary-font);
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 28px;
}

.banner-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.banner-button button:nth-child(1) {
  width: 14rem;
  height: 3.375rem;
  border-radius: 1.6875rem;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}
.banner-button button:nth-child(2) {
  width: 14rem;
  height: 3.375rem;
  border-radius: 1.6875rem;
  border: none;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}
.banner-title #shape {
  font-family: var(--font-miama);
  font-size: 7rem;
  font-weight: 400;
}

/* ---------------------------Media Query--------------------------- */
/* @media screen and (max-width: 576px) {
  .banner,
  .navbar{
    padding: 0;
    flex-direction: column;
  }
  .nav-btn{
    display: none;
  }
  .menu{
    display: block;
  }
  .navbar{
    flex-direction: row-reverse;
    padding-top: 50px;
  }
  .banner-right,
  .banner-left{
    max-width: 100%;
  }
} */

@media screen and (max-width: 576px) {
  .banner,
  .navbar {
    padding: 0;
    flex-direction: column;
  }
  .nav-btn {
    display: none;
  }
  .menu {
    display: block;
  }
  .navbar {
    flex-direction: row-reverse;
    padding-top: 50px;
    max-width: 339px;
    height: 100%;
    margin: 0 auto;
  }
  .banner-left {
    max-width: 353px;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid black; */
  }

  /* width: 340px; */
  .banner-right {
    width: 353px;
    height: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
    margin: 0 auto;
  }
  #glass2,
  #glass1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 150px;
    height: 70px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
  #glass2 {
    top: 370px;
    left: -20px;
  }
}
